{% extends "base.html" %}
{% load static %}
{% block content %}




<div class="container-fluid" style="position:absolute; top:150px; bottom: 130px;">

    <h1>welcome</h1>
    <body>
        <h5 style>
            DETAILS
        </h1>
        <form action="/madmin/mupdate"method="post">
            {% csrf_token %}
        <table border="5px" class="table table-bordered">
           <thead>
            <th>Collage name</th>
            <th>location</th>
            <th>Update</th>
            
           
    
            </thead> 
            {% for ls in data %}
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="clg1" value="{{ls.clgname}}">
                        <input type="text" name="idl" value="{{ls.id}}" hidden>
                    </td>
                    <td>
                        <input type="text" name="lcn1" value="{{ls.location}}">
                        
                    </td>
                   
                    <td><button type="submit" class="btn btn-success btn-block">Update</button></td>
    
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </body>
</div> 
{% endblock %}